---
import '../styles/main.css';
const darkColors = [['', '', ''],['', '', ''],['', '', '']] // TODO: create a 2D array of colors
const lightColors = [['', '', ''],['', '', ''],['', '', '']] // TODO: create a 2D array of colors
---
<main class="text-black dark:text-white">
    <section>
        <h1>Design System Preview</h1>
        <p>Below you will find an overview of various styles for this project including colors, type, containers, and basic components.</p>
    </section>
    <section>
        <h2>Font Family</h2>
        <p>The font family in use is Poppins, available via Google Fonts.</p>
        <section>
            <div>
                A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
            </div>
            <div>
                a b c d e f g h i j k l m n o p q r s t u v w x y z
            </div>
            <div>
                0 1 2 3 4 5 6 7 8 9 . , ? ! $ % & ( ) @ #
            </div>
        </section>
    </section>
    <section>
        <h2>Typography</h2>
        <p>A collection of type styles for various applications in this project. The goal of these type styles is to create a strong content hierarchy that blends personality with readability.</p>
        <section>
            <p class="page-hero">Page Hero</p>
            <p class="page-heading">Page heading</p>
            <p class="section-heading">Section heading</p>
            <p class="subsection-heading">Subsection heading</p>
            <p class="body-copy">Body copy</p>
            <p class="micro-copy">Micro copy</p>
            <p class="overline-copy">Overline</p>
            <p class="navigation-link">Navigation link</p>
            <p class="inline-copy-link">Inline copy link</p>
            <p class="card-title">Card title</p>
            <p class="card-body">Card body</p>
        </section>
    </section>
    <section>
        <h2>Colors</h2>
        <p>Colors are used to emphasize and create visual interest on the page. Colors are bucketed into dark and light theme collections to account for user preferences.</p>
        <section>
            <!-- TODO: Color swatch chip with click to copy hex... use a const for colors up top -->
        </section>
    </section>
    <section>
        <h2>Containers</h2>
        <p>Container styles define how elements are grouped together into a cohesive bounding box.</p>
        <section>
            <!-- TODO: Add elevations, card borders, dividers, etc. -->
        </section>
    </section>
    <section>
        <h2>Form Controls</h2>
        <p>Various inputs and action styles used in this project.</p>
        <section>
            <!-- TODO: Add text inputs, numbers, buttons, etc. -->
        </section>
    </section>
</main>

<style>
    section {
        padding: 2rem 0;
    }
    section > section {
        padding: 1rem 0;
    }
</style>