---
import Layout from '../layouts/Layout.astro'
import IconCodepen from '../components/IconCodepen.astro'
import IconDribbble from '../components/IconDribbble.astro'
import IconLinkedIn from '../components/IconLinkedIn.astro'
---

<Layout title="Home">
	<div class="hero-container flex flex-grow flex-col items-center justify-center px-6">
		<div class="bg-page flex max-w-prose flex-col gap-y-6 rounded-xl p-6 shadow-2xl">
			<div>
				<p class="subsection-heading uppercase text-muted">Brendan Bax</p>
				<h1 class="page-heading uppercase">App Design & Development</h1>
				<p class="body-copy">I help companies build innovative software experiences through lean research, iterative design, and agile software development.</p>
			</div>
			<div class="flex items-center justify-center gap-x-6">
				<a href="https://dribbble.com/brendanbax" target="_blank" class="home-link">
					<IconDribbble class="w-6" />
					<span>Dribbble</span>
				</a>
				<a href="https://codepen.io/brendanbax" target="_blank" class="home-link">
					<IconCodepen class="w-6" />
					<span>Codepen</span>
				</a>
				<a href="https://www.linkedin.com/in/brendanbax" target="_blank" class="home-link">
					<IconLinkedIn class="w-6" />
					<span>LinkedIn</span>
				</a>
			</div>
		</div>
	</div>
</Layout>

<style>
	.hero-container {
		background-image: radial-gradient(circle at top right, theme(colors.slate), theme(colors.ink));
	}
	.home-link {
		@apply flex gap-x-4 rounded-lg p-3 text-amber-500 transition-all hover:bg-amber-50 hover:shadow focus:bg-amber-50 focus:shadow;
	}
</style>
