---
import { getCollection } from 'astro:content';

import IndexFeature from '../components/IndexFeature.astro'
import IndexHero from '../components/IndexHero.astro'
import Layout from '../layouts/Layout.astro'

const projects = await getCollection('projects').then(data => data.sort((a, b) => a.data.date > b.data.date ? -1 : 1))
---

<Layout title="Home">
	<IndexHero />
	<project-summary class="section relative flex flex-col items-center pb-12 px-6 gap-y-12">
		{projects.map((p, index) => {
			return (
                <div class="project-wrapper hidden">
                    <IndexFeature index={index} project={p} />
                </div>
            )
		})}
        <button>Show more</button>
	</project-summary>
</Layout>

<style>
	.section::before {
        --height: 10vh;
        content: '';
        position: absolute;
        top: calc(var(--height) * -1);
        left: 0;
        right: 0;
        height: 0;
        border-bottom: var(--height) solid theme(colors.fill-muted);
        border-left: 100vw solid transparent;
    }
</style>

<script>
    class ProjectSummary extends HTMLElement {
        constructor() {
            super()
            let count = 3;

            const moreButton = this.querySelector('button')
            const allProjects = this.querySelectorAll('.project-wrapper')

            function showProjects() {
                if (allProjects && allProjects.length > 0) {
                    for (let i = 0; i < count; i++) {
                        if (i >= allProjects.length && moreButton) {
                            moreButton.classList.add('hidden')
                            return;
                        }
                        allProjects[i].classList.remove('hidden')
                    }
                }
            }

            if (moreButton) {
                moreButton.addEventListener('click', () => {
                    count+= 3;
                    showProjects()
                });
            }

            showProjects()
        }
    }
    customElements.define('project-summary', ProjectSummary);
</script>