---
import AnimatedText from '../components/AnimatedText.astro'
import ContactForm from '../components/ContactForm.astro'
import IndexHero from '../components/IndexHero.astro'
import IndexRecommendations from '../components/IndexRecommendations.astro'
import IndexSummary from '../components/IndexSummary.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Home">
	<IndexHero />
	<IndexSummary />
	<IndexRecommendations />
	<section id="contact" class="relative z-10 bg-fill py-12">
		<div class="will-animate fade-in opacity-0">
			<h2 class="sr-only">Contact</h2>
			<AnimatedText text="Contact" class="mx-auto mb-4 fill-fg-muted stroke-fg-muted" />
			<ContactForm class="md-px-4 mx-auto" />
		</div>
	</section>
</Layout>

<script>
	class ProjectSummary extends HTMLElement {
		constructor() {
			super()
			let count = 3

			const moreButton = this.querySelector('button')
			const allProjects = this.querySelectorAll('.project-wrapper')

			function showProjects() {
				if (allProjects && allProjects.length > 0) {
					for (let i = 0; i < count; i++) {
						if (i >= allProjects.length && moreButton) {
							moreButton.classList.add('hidden')
							return
						}
						allProjects[i].classList.remove('hidden')
					}
				}
			}

			if (moreButton) {
				moreButton.addEventListener('click', () => {
					count += 3
					showProjects()
				})
			}

			showProjects()
		}
	}
	customElements.define('project-summary', ProjectSummary)
</script>
