---
import IconCodepen from "./IconCodepen.astro"
import IconDribbble from "./IconDribbble.astro"
import IconLinkedIn from "./IconLinkedIn.astro"

const computedDate = (() => {
	const now = new Date()
	return now.getFullYear()
})()
---

<footer class="md:hidden bg-fill-muted px-6 py-4 text-xs">
	<div class="md:hidden grid grid-cols-3 gap-2 mx-auto mb-2">
		<a href="https://dribbble.com/brendanbax" target="_blank" class="home-link mx-auto">
			<IconDribbble class="w-4" />
			<span class="text-base">Dribbble</span>
		</a>
		<a href="https://codepen.io/brendanbax" target="_blank" class="home-link mx-auto">
			<IconCodepen class="w-4" />
			<span class="text-base">Codepen</span>
		</a>
		<a href="https://www.linkedin.com/in/brendanbax" target="_blank" class="home-link mx-auto">
			<IconLinkedIn class="w-4" />
			<span class="text-base">LinkedIn</span>
		</a>
	</div>
	<div class="flex items-center gap-x-4 ml-auto">
		<div class="flex flex-col xs:flex-row xs:gap-x-2">
			<p>&copy; Brendan Bax {computedDate}.</p>
			<p>Made in the USA.</p>
		</div>
		<div class="flex flex-col xs:flex-row items-center gap-x-4 ml-auto">
			<a class="footer-link" href="/changelog">Changelog</a>
			<a class="footer-link" href="https://github.com/brendanbax/portfolio" target="_blank">View Source</a>
		</div>
	</div>
</footer>

<footer class="hidden bg-fill-muted px-6 py-4 text-xs md:grid grid-cols-2 md:grid-cols-3 items-center">
	<span>&copy; Brendan Bax {computedDate}. Made in the USA.</span>
	<div class="hidden md:flex items-center gap-2 mx-auto">
		<a href="https://dribbble.com/brendanbax" target="_blank" class="home-link">
			<IconDribbble class="w-4" />
			<span>Dribbble</span>
		</a>
		<a href="https://codepen.io/brendanbax" target="_blank" class="home-link">
			<IconCodepen class="w-4" />
			<span>Codepen</span>
		</a>
		<a href="https://www.linkedin.com/in/brendanbax" target="_blank" class="home-link">
			<IconLinkedIn class="w-4" />
			<span>LinkedIn</span>
		</a>
	</div>
	<div class="flex items-center gap-x-4 ml-auto">
		<a class="footer-link" href="/changelog">Changelog</a>
		<a class="footer-link" href="https://github.com/brendanbax/portfolio" target="_blank">View Source</a>
	</div>
</footer>

<style>
	.footer-link {
		@apply border-b-2 border-transparent transition-colors hover:border-accent;
	}
	.home-link {
		@apply flex gap-x-2 md:gap-x-4 rounded-lg md:p-3 text-xs text-accent transition-all;
	}
</style>
