---
import IconCodepen from './IconCodepen.astro'
import IconDribbble from './IconDribbble.astro'
import IconLinkedIn from './IconLinkedIn.astro'
---

<footer class="bg-fill-muted px-6 py-4 text-xs md:hidden">
	<div class="mx-auto mb-2 grid grid-cols-3 gap-2 md:hidden">
		<a href="https://dribbble.com/brendanbax" target="_blank" class="home-link mx-auto">
			<IconDribbble class="w-4" />
			<span class="text-base">Dribbble</span>
		</a>
		<a href="https://codepen.io/brendanbax" target="_blank" class="home-link mx-auto">
			<IconCodepen class="w-4" />
			<span class="text-base">Codepen</span>
		</a>
		<a href="https://www.linkedin.com/in/brendanbax" target="_blank" class="home-link mx-auto">
			<IconLinkedIn class="w-4" />
			<span class="text-base">LinkedIn</span>
		</a>
	</div>
	<div class="ml-auto flex items-center gap-x-4">
		<div class="flex flex-col xs:flex-row xs:gap-x-2">
			<p>&copy;<span id="computed-date"></span> Brendan Bax</p>
			<p>Made in the USA.</p>
		</div>
		<div class="ml-auto flex flex-col items-center gap-x-4 xs:flex-row">
			<a class="footer-link" href="/changelog">Changelog</a>
			<a class="footer-link" href="https://github.com/brendanbax/portfolio" target="_blank">View Source</a>
		</div>
	</div>
</footer>

<footer class="hidden grid-cols-2 items-center bg-fill-muted px-6 py-4 text-xs md:grid md:grid-cols-3">
	<span>&copy;<span id="computed-date"></span> Brendan Bax. Made in the USA.</span>
	<div class="mx-auto hidden items-center gap-2 md:flex">
		<a href="https://dribbble.com/brendanbax" target="_blank" class="home-link">
			<IconDribbble class="w-4" />
			<span>Dribbble</span>
		</a>
		<a href="https://codepen.io/brendanbax" target="_blank" class="home-link">
			<IconCodepen class="w-4" />
			<span>Codepen</span>
		</a>
		<a href="https://www.linkedin.com/in/brendanbax" target="_blank" class="home-link">
			<IconLinkedIn class="w-4" />
			<span>LinkedIn</span>
		</a>
	</div>
	<div class="ml-auto flex items-center gap-x-4">
		<a class="footer-link" href="/changelog">Changelog</a>
		<a class="footer-link" href="https://github.com/brendanbax/portfolio" target="_blank">View Source</a>
	</div>
</footer>

<style>
	.footer-link {
		@apply border-b-2 border-transparent transition-colors hover:border-accent;
	}
	.home-link {
		@apply flex gap-x-2 rounded-lg text-xs text-accent transition-all md:gap-x-4 md:p-3;
	}
</style>

<script is:inline>
	const computedDate = (() => {
		const now = new Date()
		return now.getFullYear()
	})()

	const computedDateTags = document.querySelectorAll('#computed-date')

	if (computedDateTags.length > 0) {
		computedDateTags.forEach((t) => {
			t.innerHTML = `${computedDate}`
		})
	}
</script>
