---
const computedDate = (() => {
	const now = new Date()
	return now.getFullYear()
})()
---

<footer class="bg-fill-muted flex items-center justify-between px-6 py-4 text-xs">
	<span>&copy; Brendan Bax {computedDate}</span>
	<div class="flex items-center gap-x-4">
		<a class="footer-link" href="/changelog">Changelog</a>
		<a class="footer-link" href="https://github.com/brendanbax/portfolio" target="_blank">View Source</a>
	</div>
</footer>

<style>
	.footer-link {
		@apply border-b-2 border-transparent transition-colors hover:border-accent;
	}
</style>
