---
import * as feature from '../pages/projects/athome-lite.md';
import imgReference from '/src/assets/athome-lite/cover.webp'
import { Image } from 'astro:assets'

const {
    title,
    date,
    assets,
    summary,
    projectDate,
    technology,
    roles
} = feature.frontmatter

---
<!-- TODO: Do a triangle shape bit up top to bleed into the hero some -->
<div class="mx-auto py-12 flex gap-x-12 items-center">
    <!-- TODO: Responsive layout... consider moving the content in FRONT of the image ? -->
    <div class="max-w-prose">
        <p class="text-sm uppercase text-fg-muted opacity-80">Feature</p>
        <h2 class="text-3xl font-bold">{title}</h2>
        <!-- TODO: Write longer summary for this featured project -->
        <!-- TODO: more interesting elements, maybe a vertical line to the left that draws up / down / uses parallax -->
        <p class="font-light text-fg-muted leading-loose">{summary}</p>
        <!-- TODO: Style this as a link animated hover state -->
        <a class="my-12 block text-accent" href="/projects/athome-lite">Full story</a>
    </div>
    <div>
        <!-- TODO: fade this image in (maybe subtle animation) -->
        <!-- TODO: add an outlined and offset box around it like the && in the hero section -->
        <Image class="block max-w-screen-sm" src={imgReference} alt={'altText'} />
    </div>
</div>