---
import data from '../assets/data.json'
const { recommendations } = data
---

<section class="bg-fg text-fill">
	<div class="mx-auto max-w-6xl">
		<!-- Intro text -->
		<!-- TODO: not loving the outlines... maybe do a stripe or strike-through that animates on scroll -->
		<h2 class="text-outline mb-4 text-center text-5xl font-black invert">Recommendations</h2>
		<p class="mx-auto max-w-prose text-center">Something about who I work with, why teams matter, and how I try to serve those around me...</p>
		<!-- Trendy grid of cards with frosty effect and profile images (if avialable) or generic avatar (initials) -->
		<ul class="grid grid-cols-4">
			{
				recommendations.map((r) => (
					<li>
						<p>{r.content}</p>
						<p>{r.author}</p>
					</li>
				))
			}
		</ul>
	</div>
</section>
