---
import ThemeButton from '../components/ThemeButton.astro'
import Logo from './Logo.astro'
---

<nav class="flex items-center justify-between border-b border-muted p-4 dark:border-accent">
	<Logo class="h-6 w-6 text-default" />
	<a href="/">Home</a>
	<ThemeButton class="h-6 w-6" />
</nav>
