---
import ThemeButton from '../components/ThemeButton.astro'
import Logo from './Logo.astro'
---

<nav class="bg-fill-muted flex items-center justify-between">
	<div class="flex items-center bg-brand p-6">
		<Logo class="text-slate h-6 w-6" />
	</div>
	<a href="/" class="navigation-link">Home</a>
	<ThemeButton class="mr-6 h-6 w-6" />
</nav>

<style>
	.navigation-link {
		@apply border-b-2 border-transparent transition-colors hover:border-accent;
	}
</style>
