---
import ThemeButton from '../components/ThemeButton.astro'
import Logo from './Logo.astro'

const pathname = Astro.url.pathname
---

<nav
	class="sticky top-0 z-50 flex grid-cols-3 items-center justify-between bg-neutral-50 bg-opacity-80 p-6 backdrop-blur-md dark:bg-neutral-800 dark:bg-opacity-80 sm:grid"
>
	<a href="/" class="drop-in flex max-w-fit items-center opacity-0">
		<Logo class="text-slate h-6 w-6" />
		<h2 class="text-slate ml-2 mt-0.5 hidden text-xl font-semibold leading-none sm:block">Brendan Bax</h2>
	</a>
	<div class="mx-auto flex items-center justify-center gap-x-6">
		<a href="/" class={`${pathname === '/' ? 'active-link' : ''} navigation-link drop-in`}>Home</a>
		<a href="/about" class={`${pathname === '/about' ? 'active-link' : ''} navigation-link drop-in`}>About</a>
		<a href="/blog" class={`${pathname.includes('blog') ? 'active-link' : ''} navigation-link drop-in`}>Blog</a>
		<a href="/#contact" class="navigation-link drop-in">Contact</a>
	</div>
	<div class="drop-in relative opacity-0 sm:ml-auto">
		<ThemeButton class="h-6 w-6" />
	</div>
	<span class="absolute bottom-0 left-0 right-0 h-px bg-gradient-to-r from-fg-muted to-transparent opacity-20"></span>
</nav>

<style>
	.navigation-link {
		@apply relative border-b-2 border-transparent opacity-0;
	}
	.navigation-link::after {
		content: '';
		position: absolute;
		height: 2px;
		border-radius: 2px;
		background: var(--accent-default);
		left: 50%;
		bottom: -0.5rem;
		width: 0;
		transition:
			width 350ms,
			left 350ms;
	}
	.navigation-link:hover::after,
	.navigation-link:focus::after,
	.active-link::after {
		left: -0.25rem;
		width: calc(100% + 0.5rem);
		transition:
			width 350ms,
			left 350ms;
	}
	.drop-in:nth-child(1) {
		animation: drop-in 380ms 50ms forwards;
	}
	.drop-in:nth-child(2) {
		animation: drop-in 380ms 150ms forwards;
	}
	.drop-in:nth-child(3) {
		animation: drop-in 380ms 300ms forwards;
	}
	.drop-in:nth-child(4) {
		animation: drop-in 380ms 450ms forwards;
	}
	@keyframes drop-in {
		from {
			transform: translateY(-0.5rem);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
</style>
