---
import type { AstroBuiltinProps } from 'astro';

type Props = AstroBuiltinProps & {
	project: Project;
	index: number;
}

const { project: { title, description, slug, cover } } = Astro.props;
---

<a href={`/projects/${slug}`}>
	<h2>{title}</h2>
	<p>{description}</p>
</a>
