@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core theme */
:root {
  @apply transition-colors;
  --text-muted: theme(colors.slate.700);
  --text-default: theme(colors.slate.900);
  --fill-muted: theme(colors.slate.100);
  --fill-default: theme(colors.slate.50);
  --accent-muted: theme(colors.lime.400);
  --accent-default: theme(colors.lime.500);
}
html {
  @apply bg-fill-muted text-fg;
}
html.dark {
  @apply transition-colors;
  --text-muted: theme(colors.slate.300);
  --text-default: theme(colors.slate.50);
  --fill-muted: theme(colors.slate.800);
  --fill-default: theme(colors.slate.900);
  --accent-muted: theme(colors.lime.300);
  --accent-default: theme(colors.lime.400);
}

*::selection {
  color: var(--fill-default);
  background-color: var(--accent-muted);
}

@layer utilities {
  
}
@layer components {
  /* Containers */
  
}