@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core theme */
:root {
  @apply transition-colors;
  --font-brand: 'Aleo Variable';
  --font-serif: var(--font-brand);
  --font-heading: var(--font-brand);
  --font-sans: 'Inter Variable';
  
  --color-primary: theme(colors.ink);
  --color-secondary: theme(colors.slate);
  --color-accent: theme(colors.ghost);
  --color-brand: theme(colors.bolt);
  --color-default: theme(colors.ink);
  --color-muted: theme(colors.slate);

  --color-text-heading: theme(colors.primary);
  --color-text-default: theme(colors.primary);
  --color-text-muted: theme(colors.secondary);
  --color-bg-page: theme(colors.white);

  --color-bg-page-dark: theme(colors.primary);
}
:root::selection {
  background-color: darkorange;
}

html.dark {
  @apply transition-colors;
  --color-primary: theme(colors.white);
  --color-secondary: theme(colors.phantom);
  --color-accent: theme(colors.ghost);
  --color-default: theme(colors.white);
  --color-muted: theme(colors.spectre);

  --color-text-heading: theme(colors.primary);
  --color-text-default: theme(colors.primary);
  --color-text-muted: theme(colors.muted);
  --color-bg-page: theme(colors.ink);
}

.dark::selection {
  background-color: black;
  color: snow;
}

@layer utilities {
  .bg-page {
    background-color: var(--color-bg-page);
  }
  .bg-dark {
    background-color: var(--color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--color-bg-page);
  }
  .text-page {
    color: var(--color-text-page);
  }
  .text-muted {
    color: var(--color-text-muted);
  }
}

@layer components {
    /* Things like buttons, links, etc */
    /* You can define a style like .btn then @apply btn ... with other classnames in TW */
}
