---
import '@fontsource-variable/aleo'
import '@fontsource-variable/inter'

import '../assets/styles.css'
const { frontmatter, title } = Astro.props // Use the frontmatter of an MD file or the title passed via prop

import NavBar from '../components/NavBar.astro'
---

<html lang="en" class="bg-page">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter ? frontmatter.title : title}</title>
	</head>
	<body class="flex min-h-dvh flex-col text-default antialiased">
		<NavBar />
		<div class="flex flex-grow flex-col">
			<slot />
		</div>
		<!-- TODO: footer -->
		<footer class="flex items-center justify-between px-4 py-2 text-muted">
			<span>&copy; Brendan Bax 2024</span>
			<a href="/changelog">Changelog</a>
		</footer>
	</body>
</html>
