---
import '@fontsource-variable/aleo'
import '@fontsource-variable/inter'

import '../assets/styles.css'
const { frontmatter, title } = Astro.props // Use the frontmatter of an MD file or the title passed via prop

import NavBar from '../components/NavBar.astro'
import FootBar from '../components/FootBar.astro'
---

<html lang="en" class="bg-page">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter ? frontmatter.title : title}</title>
	</head>
	<body class="flex max-h-dvh min-h-dvh flex-col text-default antialiased">
		<NavBar />
		<div class="flex flex-grow flex-col overflow-y-auto">
			<slot />
			<FootBar />
		</div>
	</body>
</html>
