---
import '@fontsource-variable/lexend'
import '@fontsource-variable/urbanist' // This is supplemental... not used but good for blog body later

import '../assets/styles.css'
const { frontmatter, title } = Astro.props // Use the frontmatter of an MD file or the title passed via prop

import NavBar from '../components/NavBar.astro'
import FootBar from '../components/FootBar.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter ? frontmatter.title : title}</title>
	</head>
	<body class="flex max-h-dvh min-h-dvh flex-col antialiased">
		<NavBar />
		<div class="flex flex-grow flex-col overflow-y-auto">
			<slot />
			<FootBar />
		</div>
	</body>
</html>

<script>
    const animatedElements = document.querySelectorAll('.will-animate')

    if (animatedElements) {
        animatedElements.forEach(e => {
            const observer = new IntersectionObserver(entries =>{
                entries.forEach(entry => {
                    if (entry && entry.isIntersecting) {
                        e.classList.remove('opacity-0')
                        
                        if (e.classList.contains('fade-right')) {
                            e.classList.add('animate-fade-right')
                        } else if (e.classList.contains('fade-left')) {
                            e.classList.add('animate-fade-left')
                        }
                    }
                })
            });
            observer.observe(e)
        })
    }
</script>