---
import '@fontsource-variable/quicksand'
import '../assets/styles.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
const { frontmatter, title, description = SITE_DESCRIPTION } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

import NavBar from '../components/NavBar.astro'
import FootBar from '../components/FootBar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<!-- `sizes="any"` is to fix Chrome bug -->
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.webmanifest" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
		<title>{SITE_TITLE} | {frontmatter ? frontmatter.title : title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={frontmatter ? frontmatter.description : description} />
	</head>
	<body class="flex min-h-dvh flex-col bg-fill antialiased">
		<NavBar />
		<div class="flex flex-1 flex-col text-base leading-normal dark:font-light xs:text-lg">
			<slot />
		</div>
		<FootBar />
	</body>
</html>

<script>
	const animatedElements = document.querySelectorAll('.will-animate')

	if (animatedElements) {
		animatedElements.forEach((e) => {
			const observer = new IntersectionObserver((entries) => {
				entries.forEach((entry) => {
					if (entry && entry.isIntersecting) {
						e.classList.remove('opacity-0')

						if (e.classList.contains('fade-in')) {
							e.classList.add('animate-fade-in')
						}
						if (e.classList.contains('text-line')) {
							e.classList.add('animate-text-line')
						}
					}
				})
			})
			observer.observe(e)
		})
	}
</script>
