---
import { Image } from 'astro:assets'
import ImageGallery from '../components/ImageGallery.astro'
import Layout from './Layout.astro'
import type { ImageMetadata } from 'astro';

export type PersonalProject = {
	assets: string
	title: string
}

const { frontmatter } = Astro.props
const {
	assets,
    title,
	cover,
} = frontmatter

const covers = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*[.png, .jpg]')

---
<Layout title={title}>
	<div class="relative min-h-96 z-0 overflow-hidden">
		<Image class="absolute inset-0 block object-cover h-full w-full" src={covers[cover]()} alt={'altText'} />
		<div class="absolute inset-0 flex flex-col items-center justify-center bg-neutral-100 dark:bg-neutral-900 bg-opacity-75 dark:bg-opacity-75">
			<h1 class="text-3xl md:text-4xl font-bold">{title}</h1>
		</div>
	</div>
	<div class="mx-auto -mt-24 mb-6 max-w-prose p-0 xs:p-6 relative z-10">
		<main class="rounded-xl bg-fill p-6 shadow-lg">
			<slot />
			<ImageGallery path={assets} />
		</main>
	</div>
</Layout>

<style>
	.header-label {
		@apply font-semibold text-sm mb-2 text-fg-muted;
	}
</style>

<style is:global>
	main > h2 {
		@apply text-xl font-bold mb-3 text-fg-muted;
	}
	main > p {
		@apply font-light leading-relaxed mb-6;
	}
</style>
